<header class="header">
  <article class="introduction">
    <img class="profile-image" src="./images/profile.jpg"></img>
    <p>
      I am a software engineer, a fearless traveller and a passionate vegan weightlifter.I had been working in difference company from software consultant to F&B, localization startup and big online media.
    </p>
    <p>
      I now mainly focus on learning functional programming, distributed system. Also, I am interested in deep learning and blockchain technology.
    </p>
    <div class="header__links">
      <a id="about-link" class="header__link" title="About">
        <div>
          <i class="fa fa-user nav-icon"></i>
        </div>
      </a>
      <a target="_blank" class="header__link" href="https://github.com/swtpain" title="Linkedin">
        <div>
          <i class="fa fa-github nav-icon"></i>
        </div>
      </a>
      <a target="_blank" class="header__link" href="https://www.linkedin.com/in/kafaic/" title="Github">
        <div>
          <i class="fa fa-linkedin nav-icon"></i>
        </div>
      </a>
      <a target="_blank" class="header__link" href="https://www.facebook.com/meatfree.muscle.hk/" title="Facebook">
        <div>
          <i class="fa fa-facebook nav-icon"></i>
        </div>
      </a>
    </div>
  </article>
</header>
