<header class="header">
  <article class="introduction">
    <img class="profile-image" src="./images/profile.jpg"></img>
    <p>
      I am a software engineer, a fearless traveller and a passionate vegan weightlifter.
    </p>
    <p>
      I now mainly focus on learning functional programming, distributed system. Also, I am interested in decentralized ledger technology & machine learning.
    </p>
    <div class="header__links">
      <a id="about-link" class="header__link" title="About">
        <div>
          <i class="fa fa-user nav-icon"></i>
        </div>
      </a>
      <a id="about-link" class="header__link" href="https://keybase.io/bruteforcecat" title="Keybase">
        <div>
          <i class="fab fa-keybase nav-icon"></i>
        </div>
      </a>
      <a id="about-link" class="header__link" href="https://medium.com/@bruteforcecat" title="Medium">
        <div>
          <i class="fab fa-medium nav-icon"></i>
        </div>
      </a>      
      <a target="_blank" class="header__link" href="https://github.com/bruteforcecat" title="Linkedin">
        <div>
          <i class="fab fa-github nav-icon"></i>
        </div>
      </a>
      <a target="_blank" class="header__link" href="https://www.linkedin.com/in/kafaic/" title="Github">
        <div>
          <i class="fab fa-linkedin nav-icon"></i>
        </div>
      </a>
      <a target="_blank" class="header__link" href="https://www.facebook.com/meatfree.muscle.hk/" title="Facebook">
        <div>
          <i class="fab fa-facebook nav-icon"></i>
        </div>
      </a>
    </div>
  </article>
</header>
