<div class="post-list__container">
  <p class="post-list__title">
    Old Articles <span class="post-list__remark"> (Please go to <a href="https://medium.com/@bruteforcecat">Medium</a> for latest articles) </span>
  </p>
  <div class="post-list">
      $for(posts)$
          <a
            href="$url$"
            class="post-item"
          >
            <div class="post-item__text-container">
              <div class="post-item__text">
                $title$
              </div>
              <div class="post-item__date">
                $date$
              </div>
            </div>
          </a>
      $endfor$
  </div>
</div>
