<div class="post-list__container">
  <div class="post-list">
      $for(posts)$
          <div
            class="post-list__item"
          >
            <a
              href="$url$"
              class="post-item"
              style='background-image: url($if(preview_image)$$preview_image$$else$/images/post-default.jpg$endif$);'
            >
              <div class="post-item__text-container">
                <div class="post-item__text">
                  $title$
                </div>
              </div>
            </a>
          </div>
      $endfor$
  </div>
</div>
